<div *ngIf="false"  class="border-success" style="width: 595px;height: 842px" >
  <h1>Resultas du test de positionnement</h1>
  <h1>Niveau est :</h1>
</div>

<h1>{{date}}</h1>

<button mat-raised-button (click)="downloadAvis()" > download</button>

<div *ngIf="false" class="container "  >

  <div id="htmlData" #htmlData style="background-image: url(bck.png);background-size: cover; height: 842px; width: 595px;">
    <div class="ps-3 pe-3 pt-5" style="border: 2px solid black;height: 842px; width: 595px;">

      <div class="row mt-5">
        <h3 class="text-center">TEST DE POSITIONNEMENT</h3>
      </div>

      <div class="row mt-2" >
        <div class="col-md-4" style="position: relative;left: 60px">
          <h5>NOM:</h5>
          <h5>E-MAIL:</h5>
        </div>
        <div class="col-md-4" style="position: relative;left: 98px">
          <h5>NIVEAU D'HABILITATION:</h5>
          <h5>DATE:</h5>
        </div>
      </div>
      <div class="row mt-5" >
        <div class="col-6">
          <table class="table table-striped">
            <thead class="" style="background-color: forestgreen ; color:   aliceblue">
            <tr>
              <th scope="col" style="font-size: 10px">VOS AUTHORISATION</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Mark</td>
            </tr>
            <tr>
              <td>Voisinage</td>
            </tr>
            <tr>
              <td>Voisinage</td>
            </tr>

            <tr>
              <td>Voisinage</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table table-striped">
            <thead class="" style="background-color: red ; color: aliceblue">
            <tr>
              <th scope="col" style="font-size: 10px">VOS AUTHORISATION</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Mark</td>
            </tr>
            <tr>
              <td>Voisinage</td>
            </tr>
            <tr>
              <td>Voisinage</td>
            </tr>
            <tr>
              <td>Voisinage</td>
            </tr>
            <tr>
              <td>Voisinage</td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="row w-50 m-auto mt-5">
        <h3 class="text-center fw-bold" style="background-color: orangered; border-radius: 12px;color: white;">B0 Charge de Chantier</h3>
      </div>


    </div>
  </div>

</div>

<div class="container m-auto w-75">
  <div  style="border: 2px solid black;height: 842px; width: 595px;position: relative;">
    <div style="margin-left: 10px">
      <div class="row w-100"  style="position: absolute; top: 0;border-bottom: 5px solid #DEDFE4;">
        <div class="col-4">
          <a class="float-start mt-1 pb-2 "><img src="assets/images/logoo.png" style="height: 30px; width: 150px;" ></a>
        </div>
        <div class="col-4 justify-content-center">
          <span class="h3 mt-3 ms-3 w-100 fw-bold text-uppercase text-center" id="title">Rapport</span>
        </div>
        <div class="col-4" >
            <span class="h3 mt-2 float-end" style="font-family: Verdana;font-size: 20px;">Khalid TNAJI</span>
        </div>
      </div>


      <div class="row w-100"  style="margin-top: 70px;">
        <div class="row m-auto w-50">
          <h1 class="text-center fw-bold pb-2" style="color: red; border-bottom: 1px solid #DEDFE4;">Non Validee</h1>
        </div>



      </div>




      <div class="row"  style="position: absolute; bottom: 0;">
        <p class="justify-content-center"><b>NB.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
          ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
      </div>
    </div>
  </div>
</div>
