
#title{
  font-size: 28px;
  margin-right: -90px;
  font-family: Verdana;
  text-align: center;
  margin-top: 25px;
  margin-left: 18px;
  color: #6B6B6B;
}

.my-nav-item{
  cursor: pointer;
  padding-right: 2px;
  padding-left: 5px;
}
.my-nav-item:hover{
 background-color: rgba(160, 160, 157, 0.27);
}
.active-item{
  background-color: rgba(160, 160, 157, 0.63);
}

.my-nav-item:focus{
  outline: none;
}
.my-item{
  margin-left: 5px;
  padding-bottom: 10px;

}
.bottomLink{
  position: absolute;bottom: 0;width: 100%;cursor: pointer;  padding-right: 2px;  padding-left: 5px;
}
#navbar{
  background-color: #FBFBFB;
  border-bottom: 3px solid #E4E5E9;
  /*
  overflow: hidden;
  position: fixed;
   */
}

#sidebar{
  background-color: #eef3ff;
  /*background-color: #d7d7d7;fcfcfc*/

  box-shadow: 1px 4px 3px 0px rgb(0 0 0/20%),
  -20px 3px 24px 2px rgb(0 0 0/14%),
  0px 6px 30px 5px rgb(0 0 0/12%);;
}

mat-drawer:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  width: 60px !important;
  overflow: hidden;
}


mat-drawer:not(.mat-drawer-opened) .img{
  display: none;
}
mat-drawer:not(.mat-drawer-opened){
  border-right: 2px solid lightgray;
}
