<div class="container w-100 min-vh-100">
  <div class="row mt-4">
    <div class="col-md-9">
      <h1 style=" border-left: 4px solid orangered; padding-left: 12px; top: 50%;">Effectuer un paiement</h1>
    </div>
    <div class="col-md-3">
      <div class="form-group form-inline w-100">
        <input  class="form-control float-end" type="text" name="searchTerm"
                placeholder="rechercher" style="width: 100%"/>
      </div>
    </div>
  </div>

  <div class="container-fluid m-0 p-0 bg-transparent">
    <main class="m-0 p-0 row w-100 justify-content-between">
      <!-- table 1 -->
      <div class="card rounded-3 shadow-sm col-6">
        <h2 style="color: #F57C00" class="ms-2 mt-2 card-header">Factures en coure</h2>
        <table class="table table-striped">
          <thead style="border-bottom: 2px solid #ff6801;">
          <tr>
            <th scope="col">Facture</th>
            <th scope="col">Resume</th>
            <th scope="col">Date de paiement</th>
            <th scope="col">Montant</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td scope="row" > 78171717</td>
            <td>Domaine-ehabilita.com(DN-34671)</td>
            <td>2021-03-08</td>
            <td>10 000.00DH</td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- table2-->

      <div class="card rounded-3 shadow-sm col-5">
        <h2 style="color: #F57C00" class="ms-2 mt-2 card-header">la valeur totale des paiements </h2>
        <table class="table table-striped">
          <thead style="border-bottom: 2px solid #ff6801;">
          <tr>
            <th scope="col">Section de paiement (#selections)</th>
            <th scope="col">Montant</th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td scope="row" > Factures en cours (1 selections)</td>
            <td scope="row" > 1000.78DH</td>

          </tr>
          </tbody>
        </table>
      </div>


      <div class="row w-100 mt-4" >
        <div class="col-md-6 float-start" >
          <button type="button" class="btn " style="color:#fff ;background-color:#FF6801;">Choisissez le mode de paiement</button>
        </div>
      </div>

    </main>

  </div>
</div>
