<div style="width: 100%;height: 100%;"
     style="background-image:url(assets/images/body-bg.jpeg);background-size: cover;min-height: 100%;
    height: auto !important;
    height: 100%;">
  <div >
    <div class="ms-5 pt-5 w-50" style="height: 80%;">
      <div class="row  " style="height: 60%;" >
        <div class="col-4 float-start" >
            <div class="container pt-5 rounded mt-3"
                 style="background-color: rgba(255,255,255,0.9);
                 position: relative;min-height: 533px;min-width: 404px;">

              <div class="m-auto justify-content-center text-center">
                <a  href="/home"><img src="assets/images/logoo.png" class="w-75 h-50 ml-5 mb-3"  alt=""></a>
              </div>

              <div class="m-auto justify-content-center text-center" style="width: 90%;">
                <h2 class="title-head float-start" style="border-left: 4px solid orangered; padding-left: 12px;top: 50%;">Se connecter a votre <span>Compte</span></h2>
                <p class="float-start">vous n'avez pas un compte ? <a class="mat-tab-link ml-2" style="color: darkorange;" routerLink="/register">Créer un compte</a></p>
              </div>

              <form class="mb-5 m-auto"
                    style="margin-bottom: 20rem; width: 90%;" [formGroup]="myForm">
                <h3 class="mat-h2 text-danger" *ngIf="error">adresse mail ou bien le mot de pass sont incorrect</h3>
                <div class="row w-100 m-auto">
                  <mat-form-field class="w-100 mt-3 m-auto" color="primary">
                    <input matInput placeholder="email" formControlName="email">
                    <mat-error *ngIf="email.invalid && email.touched">
                      adresse mail invalide
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="row w-100 mt-0 mb-2 m-auto">
                  <mat-form-field class="w-100 mt-1 m-auto" color="primary">
                    <input type="password" matInput placeholder="password" formControlName="password">
                    <mat-error  *ngIf="passwordd.invalid && passwordd.touched">
                      mot de pass invalid
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="row w-50 mt-0 m-auto justify-content-center">
                  <button mat-raised-button color="primary"
                          [disabled]="myForm.invalid" (click)="onLogin()">connexion</button>
                </div>
                <div class="row w-100 mt-3 justify-content-center">
                  <div class="m-auto text-center">
                    <a routerLink="/forgotPassword" class="mat-tab-link" >Mot de pass oublier ?</a>
                  </div>
                </div>
              </form>

              <div class="row mb-2 " style="width: 90%;border-top: 3px solid darkorange; position: absolute; bottom: 0px;">
                <b class="m-auto text-center">© 2021 - <span style="color: darkorange">EletisConsulting</span> - Tous droits réservés</b>
              </div>
            </div>
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>
      </div>
    </div>
  </div>
</div>

