<div class="container mt-5  bg-white h-100" style="min-width: 1300px;min-height: 500px;"  *ngIf="!startTest && positionTestResult != null">
    <div class=" bg-white w-100" *ngIf="positionTestResult != 'NAN'">
      <div class=" bg-white"  >
        <h2 class="mt-5 ms-5">Votre Niveau est apres le test de positionnment<br/>
          <b>{{positionTestResult}}</b></h2>
      </div>
      <hr/>
      <div class=" bg-white">
        <button mat-raised-button color="accent" class="rounded" (click)="startTest = true">Refaire le test</button>
      </div>
    </div>
    <div class=" bg-white w-100" *ngIf="positionTestResult == 'NAN'">
      <div class=" bg-white">
        <h2>Vous pouvez identifiez votre niveau d'habilitation en passant le test de positionnment</h2>
      </div>
      <hr/>
      <div class=" bg-white">
<!--        <button mat-raised-button color="accent" class="rounded" (click)="startTest = true">Commencer</button>-->
      </div>
    </div>
</div>
<div *ngIf="startTest" class="container mt-5 " style="min-width: 1300px;">
  <app-position-test (levelEmetter)="receivedLevel($event)"></app-position-test>
</div>
