#question{
  font-family: Verdana;
  color: #6B6B6B;
  font-size: 20px;
  margin-top: 30px;
}
.question{
  font-family: Verdana;
  color: #6B6B6B;
  font-size: 20px;
  margin-top: 30px;
}
.btnHover{
  background-color: #DEDFE4;
}

.btnHover:hover{
  background-color: #FF6801;
}

.head{
  color: white;
  text-align: center;
  font-size: 29px;
  font-weight: bold;
}
th{
  padding-bottom: 20px;
  padding-top: 20px;
}
td {
  border-right: 1px solid #555;
  padding: 10px;
}
.tableText{
  font-size: 17px;
  text-align: center;
}
.buttonHauteTension{
  width: 426px;
  height: 52px;
}

.img{
  width: 378px;
  height: 212px;
  margin-top: 10px;
}

.resultButton{
  min-width: 200px;
  border-radius: 10px;
}

.cardHabilitation{
  border-radius: 50px;
  border: 7px solid #FF6801;
}

.colTask{
  min-height: 90px;
  min-width: 200px;
  justify-content: center;
  border-radius: 15px;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.colTask:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
