html, body { height: 100%; }
body { margin: 0; font-family: Verdana, "Helvetica Neue", SansSerif; }


.apprenantLibreDiv{
  background-color: white;
  min-width: 1300px;
  border-radius: 10px;
  height: 580px;
}
