#testContainer{
  background-color: white;
  /*border: 2px solid white;*/
  height: 600px;
}


#mainContainer{
  background-color: white;
  width: 98%;
  min-height: 60%;
  height: 90%;
}

#questionContainer{
  height: 57%;
}

#progressBar{
  margin-top: 0px;
}

#rowAnswers{
  height: 50%;
}
#rowValidate{
  height: 25%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#rowPagination{
 position: absolute;
  bottom: 0;
}

.pagination > li > a,
.pagination > li > span {
  border-radius: 12px !important;
  margin: 0px 5px;
  min-width: 40px;
  background-color: #b3afac;
  color: white;
  text-align: center;
}

.pagination{
  padding-bottom: 8px;
}

.pagination > li > a.active,
.pagination > li > span {
  border-radius: 12px !important;
  min-width: 40px;
  text-align: center;
  padding: 2px 2px 1px 1px;
  margin: 0px 5px;
  background-color: #FF6801;
  color: white;

}

button{
  border-radius: 14%;
  font-size: 13px;
  padding-left: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 8px;
}
#consigne{
  color: #9B9B9B;
  font-size: 15px;
  margin-top: 26px;
}

#observation{
  color: #6B6B6B;
  font-family: Verdana;
  font-size: 12px;
}
#question{
  font-family: Verdana;
  color: #6B6B6B;
  font-size: 15px;
  line-height: 150%;
}

#colImage{
  margin-top: -60px;
}

#boxxDrag{
  border-radius: 12px;min-height: 37px;padding: 5pX 5px 5px 5px;
  min-width: 35px; background-color: #F9D346;color: white;
  border: 1px solid #FC9602;text-align: center;
}

#boxxToDrag:hover{
  cursor: move;
  border-radius: 12px;min-height: 20px;padding: 5pX 5px 5px 5px;
  min-width: 35px; background-color: #F9D346;color: white;
  border: 1px solid #FC9602;text-align: center;
}

#boxx:hover{
  cursor: move;
  border-radius: 12px;
  min-height: 37px;
  padding: 5pX 5px 5px 5px;
  min-width: 35px;
  background-color: #F9D346;
  color: white;
  border: 1px solid #FC9602;
  text-align: center;
}

.box {
  background: red;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.box:empty {
  background: blue;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}



.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.5, 1);
}


.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.5, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.5, 1);
}


.horizontal-scrollable > ul {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scrollable > ul > li {
  display: inline-block;
  float: none;
}


/****************/
::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  height: 5px;


}

/* Handle */
::-webkit-scrollbar-thumb {
  background: orangered;
  height: 5px;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}



.example-box-drag {
  padding: 10px 10px;
  margin-top: 10px;
  border: solid 1px #130b0b;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}
/*

.example-box:last-child {
  border: none;
}
 */

.testRecap{
  border: 3px solid #FF6801;
  padding-bottom: 38px;
  padding-right: 38px;
  padding-left: 38px;
  padding-top: 25px;
  border-radius: 12px;
  margin-top: 15px;
}

.br{
  border: 1px solid orange;
}

.p-3{
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
}
