<div class="container rounded shadow mt-5 pt-3 apprenantLibreDiv">
  <div class="row w-100 m-auto">
    <div class="col-2">
      <img [src]="domSanitizer.bypassSecurityTrustUrl('data:image/PNG;base64,'+apprenantLibre?.profilePictureBites)"
           class="rounded border" alt="Cinque Terre" width="100%" height="80%">
      <button class="btn btn-outline-dark" (click)="open(content)" style="margin-top: -65px">
        <mat-icon >edit</mat-icon></button>

      <h2 class="text-center">{{jwtService.userAuthenticated.firstName+ ' ' + jwtService.userAuthenticated.lastName}}</h2>
    </div>

    <div class="col-5">
      <h1>Modifer l'adresse mail</h1>
      <hr>
      <div class="row w-75" >
        <mat-form-field appearance="fill">
          <mat-label>email actuel</mat-label>
          <input matInput type="text">
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
      </div>

      <div class="row w-75 mt-3" >
        <mat-form-field appearance="fill">
          <mat-label>nouveau email</mat-label>
          <input matInput type="text">
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
      </div>



      </div>

    <div class="col-5">
      <h1>Modifer le mot de passe</h1>
      <hr>
      <form  class="contact-bx" [formGroup]="resetPassword.resetPasswordForm">
      <!--
      <div class="row w-75 m-auto">
        <mat-form-field appearance="outline">
          <mat-label>mot de passe actuel</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      -->
      <div class="row w-75 m-auto mt-3">
        <mat-form-field appearance="outline">
          <mat-label>nouveau mot de passe</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-hint align="start" class="colorPrimary">choisir un mot de passe qui depasse 8 caracteres</mat-hint>
          <mat-error *ngIf="resetPassword.password.invalid && resetPassword.password.touched">
            mot de pass invalid
          </mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="row w-75 m-auto mt-5">
        <mat-form-field appearance="outline">
          <mat-label>répéter le mot de passe</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="rePassword">
          <mat-error *ngIf="resetPassword.rePassword.touched && resetPassword.rePassword.value.length == 0">Confirm Password is required</mat-error>
          <mat-error *ngIf="resetPassword.rePassword.value !== resetPassword.password.value">
            les mots de pass ne se coresponds pas
          </mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="row w-50 mt-2 m-auto justify-content-center">
        <button mat-raised-button  color="primary" [disabled]="resetPassword.resetPasswordForm.invalid"
                (click)="onResetPassword()">renitialiser le mot de pass</button>
      </div>
      </form>
    </div>

  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title text-center" id="modal-basic-title">Modifier l'mage de profile</h1>
    <span class="float-end pointer" style="margin-top: -37px;"><mat-icon (click)="modal.dismiss('Cross click')">close</mat-icon></span>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <input id="file" class="form-control" name="file" accept="image/png, image/jpeg, image/jpg"
                 type="file" (change)="handleFileInput($event)">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Annuler')">Annuler</button>
    <button type="button" class="btn btn-dark" [disabled]="fileToUpload == null" (click)="save()">Modifier</button>
  </div>
</ng-template>
