<div class="container rounded shadow mt-5 pt-3 apprenantLibreDiv">

  <div class="row  mt-5 w-75 ms-3">
    <div class="col-10">
      <table class="table table-hover rounded-3 shadow" style="background-color: #dcd7ef">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Document</th>
          <th scope="col">Resultat</th>
          <th scope="col">Télécharger</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Test de Positionnement</td>
          <td>
            {{ positionTestResult != null && positionTestResult != 'NAN' ? positionTestResult : 'non disponible'}}
          </td>
          <td class="text-center">
            <a (click)="onDownloadRepport();"
               *ngIf="positionTestResult != null && positionTestResult != 'NAN';else elseBlock1"
               placement="top" ngbTooltip="Télécharger">
              <mat-icon  color="primary" class="pointer">cloud_download</mat-icon>
            </a>
            <ng-template #elseBlock1>
              <a  routerLink="/dashboard/positionTestLibre" placement="top" ngbTooltip="Passer le test de positionnement">
                <mat-icon  color="primary" class="pointer">ios_share</mat-icon>
              </a>
            </ng-template>

          </td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <td >Attestaion de formation</td>
          <td></td>
          <td class="text-center">
            <a (click)="onDownloadAttestation();"
               *ngIf="isScoreDisponible;else elseBlock2"
               placement="top" ngbTooltip="Télécharger">
              <mat-icon  color="primary" class="pointer">cloud_download</mat-icon>
            </a>
            <ng-template #elseBlock2>
              <a  routerLink="/dashboard/evaluationLibre" placement="top" ngbTooltip="Passer le test d'habilitation">
                <mat-icon  color="primary" class="pointer">ios_share</mat-icon>
              </a>
            </ng-template>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Avis d'habilitation</td>
          <td>{{ score == null ? 'non disponible' : score.validate ? 'Avis favorable': 'Avis défavorable' }}</td>
          <td class="text-center">
            <a (click)="onDownloadAvis();"
               *ngIf="isScoreDisponible;else elseBlock3"
               placement="top" ngbTooltip="Télécharger">
              <mat-icon  color="primary" class="pointer">cloud_download</mat-icon>
            </a>
            <ng-template #elseBlock3>
              <a  routerLink="/dashboard/evaluationLibre" placement="top" ngbTooltip="Passer le test d'habilitation">
                <mat-icon  color="primary" class="pointer">ios_share</mat-icon>
              </a>
            </ng-template>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>
